extends layout

block content
	.container-fluid
		.row
			.col-md-4
				.card.card-primary
					h5.card-header Featured
					.card-body
						ul.list-group#list-1
							
			.col-md-4
				.card.card-success
					h5.card-header Featured
					.card-body
						ul.list-group#list-2

							
			.col-md-4
				.card.card-info
					h5.card-header Featured
					.card-body
						h5.card-title Special title treatment
						p.card-text With supporting text below as a natural lead-in to additional content.
						a.btn.btn-primary(href="#") Go somewhere

